{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<!-- Alertify.js CSS -->
	<link rel="stylesheet" href="{% static "assets/css/alertify.css" %}" />
	<!-- Alertify.js Theme CSS (optional, can be customized) -->
	<link rel="stylesheet" href="{% static "assets/css/default.css" %}" />
    <!-- Favicon files-->
	<link rel="shortcut icon" href="{% static "assets/img/favicon/favicon.ico" %}" type="image/x-icon">
	<link rel="manifest" href="{% static "assets/img/favicon/site.webmanifest" %}">
	<!-- Bootstrap4 files-->
	<link href="{% static 'assets/libs/bootstrap-5.3.3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
	<!-- Bootstrap4 files-->
	<link href="{% static 'assets/libs/fontawesome-6.6.0/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
	<!-- custom style -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css"/>