{% load static %}
	<!-- jQuery -->
    <script src="{% static 'assets/libs/jquery-3.7.1.min.js/jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap4 files-->
    <script src="{% static 'assets/libs/bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Alertify.js JS -->
    <script src="{% static 'assets/js/alertify.js' %}"></script>
    <!-- custom javascript -->
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/ajax.js" %}"></script>
